@import 'normalize.css';
// Set default font :
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');


:root{
    //Default Layout variable : 
    --default-layout-header-height : 80px;
    --default-layout-footer-height : 60px;
    --default-layout-width : 1150px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size : 62.5%
}

body {
    font-family: "Roboto Serif", serif;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

